<Body:>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0ucL9ODjAXLeamCcS4fTuHYfKr_6TndE&sensor=true"></script>
  <div id="googlemap"></div>
  <div class="jumbotron"></div>


<script type="text/javascript">
  var map;
  function mapInit() {
    console.log('initializing google map');
    var mapOptions = {
        zoom: 12,
        center: new google.maps.LatLng(45.523292, -122.675056),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('googlemap'), mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', mapInit());
</script>

{#each _page.reports as :report}
  {{unescaped addMarker(:report)}}
  <div>{{:report.incidentid}} - {{:report.title}}</div>
{/}
